.section{
     flex-direction: column;
     display: flex;  
     align-items: center;   
}

.options{
     display: block;
     color: white;
     padding: 15px;
     background-color: #2C4251;
     width: 80vw;
     height:15px;
     margin: 20px;          
}

.tool{
     padding-top: 20px;
     text-align:right;
}

.tool:hover {
     cursor: pointer;
}

.UserPic {    
     border: solid black 3px;
 }

.UserPic-container {      
     display:grid;
     grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
     grid-gap: 1vw; 
     justify-content: center; 
     max-width: 80vw; 
 }
 
.picitem{
     text-align: center;  
 }