@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    background-color: #EFE7E7;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: white;
}

.content {
    margin-left: 25px;
    margin-right: 25px;
}

.row {
    margin-bottom: 20px;
}

h2 {
    font-family: 'Inter';
    color: #333;
    font-weight: 500;
}

.item-container {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.lives-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    flex: 1;
    padding: 8px;
    width: 180px;
    height: 100px;
    line-height: 50px;
    background-color: white;
    color: black;
    border-radius: 15px;
    text-align: center;
    margin: 5px 5px 10px 10px;
}

/* #help-button {
    background-color: rgb(124, 192, 203);
    text-align: justify;
    font-family: 'Inter';
    font-weight: 1000;
    font-size: 150%;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 20px;
    cursor: pointer;
} */

.circle {
    -webkit-animation: pulse 3s infinite linear;
    animation: pulse 3s infinite linear;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgb(226, 133, 110);
    border-radius: 50%;
    margin-right: 8px;
    margin-left: 4px;
    will-change: opacity; /* fixes weird circle screan tear issue */
    margin-bottom: 16px;
}

@keyframes pulse {
    25% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
}

.heading-container {
    display: flex;
    align-items: center;
}