@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');


html, body {
    font-family:'Lato', SanSerif;
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 100px;
    margin-bottom: 15px;
}

* {
    font-family: 'Lato', SansSerif;
}

.logo-left-container {
    background-color: rgb(124, 192, 203);
    width: 45vw;
    height: 100vh;
    text-align: center;
    float:left;
}

p{
    color: #E2856E;
    font-family:'Inter', sans-serif;
    font-size: 30px;
}

.link{
    font-family:'Inter', sans-serif;
    font-weight: bold;
    color: #E2856E;
    font-size: 30px;
    
}

placeholder{
    font-style: italic;
}

.right-container{
    font-family: 'Lato', sans-serif;
    border-radius: 15px;
    margin-left: 175px;
    margin-top: 50px;
    margin-top: 50px;
    background-color :#2C4251;
    font-size: 35pt;
    color:#7CC0CB;
    height: 95vh;
    text-align: center;
    float:left;
    font-family: 'Lato';
}

label {
    font-family: 'Lato', sans-serif;
    color:white;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    border: 12px 25px;
}

input{
    font-family: 'Lato',sans-serif;
    color:gray;
    background-color: white;
    font-size: 35pt;
    border-radius: 15px;
    margin-top: 25px ;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

button{
    font-family: 'Lato',sans-serif;
    background-color: #7CC0CB;
    color: white;
    font-size:35pt;
    border-radius: 15px;
}

.logo {
    height: 33%;
    display: inline-block;
    margin-top: 40%;
}