html, body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Readex Pro', SansSerif;
}

.logo-left-container {
    background-color: rgb(124, 192, 203);
    width: 50vw;
    height: 100vh;
    text-align: center;
}

.right-container{
    background-color : #2C4251;
    color:#7CC0CB;
}

label {
    color:white;
}

input{
    color:gray;
    background-color: white;
}

button{
    background-color: #7CC0CB;
    color: white;
}

.logo {
    height: 33%;
    display: inline-block;
    margin-top: 40%;
}