.Outside {
    background-color: #7CC0CB;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 200px;
    overflow: visible;
}

.OutsideProject {
    background-color: #2c4251;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 200px;
    overflow: visible;
}

.NotificationBox {
    margin-left: 0px;
    margin-right: 3px;
}

.LastPic {
    border-radius: 50%;
}

.UserPic {
    border-radius: 50%;
    margin-right: -25px;
    box-sizing: content-box;
    max-width: 55px;
    padding-left: 5px;
}

.ProjectName {
    margin-bottom: 3px;
    margin-top: 14px;
    color: white;
}

.SearchBar {
    margin-top: 14px;
    margin-right: 13px;
}

.SearchBar input {
    width: 200px; /* Adjust the width as needed */
}

.ProfilePic {
    border-radius: 50%;
    margin-top: 5px;
}

.Username {
    font-family: "Lato";
    margin-top: 33px;
    margin-left: -11px;
    color:#2C4251;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.DropBtn {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    margin-left: -30px;
}

.dropdown {
    position: absolute;
}

.dropdown-menu {
    position:relative;
    max-width: fit-content;
    max-height:fit-content;
    overflow:auto;
    right: 335px;
    top: 10px;
    bottom: 0;
    background-color: #E2856E;
    padding: 5px;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
    opacity: 0;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transform: translateY(-10px);
    pointer-events: none;
}

.dropdown-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

.dropdown:focus-within .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-menu.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.Message {
    width: 340px;
    height: 130px;
    background-color: #2c4251;
    color: black;
    border-radius: .25rem;
    text-align: left;
    margin: 5px 5px 15px 5px;
}

.Message img {
    margin-top: 25px;
}

.Message a {
    color: black;
}

.AddSymbols {
    float:right;
}