.p {
    font-family: 'Inter', sans-serif;
}

li {
    font-family: 'Inter', sans-serif;
}

.breadcrumb-item {
    font-family: 'Inter', sans-serif;
}

.inter-font {
    font-family: fantasy;
}
