@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Lato:wght@700&display=swap');

body {
    overflow: hidden;
}

.tools-container {
    background-color: aquamarine;
    float: right;
    height: 100%;    
}

.tools-open-button {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 30px 0px 0px 30px;
    height: 15vh;
    width: 2.5vw;
    background-color: rgb(124, 192, 203);
    border-width: 0;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Inter';
    z-index: 2;
}

.sidebar {
    background-color: rgb(124, 192, 203);
    float: right;
    width: 20vw;
    height: 100vh;
    transition: transform 0.5s ease-in-out;
    z-index: 1;
}

.sidebar.closed {
    color: white;
    transform: translateX(500px);
}

.sidebar-header {
    display: inline;
    justify-content: center;
    width: 100%;
    max-height: 10%;
    float: top;
}

.sidebar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.sidebar-title {
    font-size: 25px;
    font-family: 'Lato';
    color: #2C4251;
}

.icon-button-container {
    text-align: center;
    padding: 5px;
}

.icon-button-label {
    font-family: 'Inter';
    font-weight: 500;
    color: #FFFFFF;
}

.icon-button {
    padding: 3px;
    height: 50px;
    width: auto;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
    border-radius: 10%;
}

.icon-button:focus {
    background-color: #E2856E;
}

.icon-button:hover {
    border-color: white;
    border: 5px;
}

.tools {
    display: flex;
    flex-wrap: wrap;
}

.projects-container {
    display: flex;
    align-items: center;
}

.content-span {
    flex-grow: 1;
    text-align: center;
}